<nav class="navbar">
    <ul class="navbar-list">
      <li><a [routerLink]="['/accounts', customer?.customerId]">Accounts</a></li>
      <li><a routerLink="/transactions">Transactions</a></li>
      <li><a routerLink="/passbook">Passbook</a></li>
      <li><a routerLink="/fixed-deposit">Fixed Deposit</a></li>
      <li><a routerLink="/query">Query</a></li>
    </ul>
    <button class="logout-button" (click)="logOut()">Log Out</button>
  </nav>
  

  <!-- <div> -->
    <!-- Display customer data here -->
    <!-- <div *ngIf="customer"> -->
      <!-- <p>Customer Name: {{ customer.firstName }} {{ customer.lastName }}</p> -->
      <!-- Add more properties as needed -->
    <!-- </div>
  </div> -->
  